<!DOCTYPE html>
<html lang="ko">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../partials/essentialCss.ejs %>
    <link rel='stylesheet' href='/css/postList.css' />

</head>

<body>


    <% include ../partials/header.ejs %>

    <div class="postArea">
        <article>

            <section>
            <input type="button"  value= '글작성' class='btnNew' onclick="location.href='/posts/new'"/>

            <% list.forEach((item,index) => { %>
                <div class='post'>
                     <p class='tag'><%= item.post_tag %> </p>
                     <h2><a href='/posts/<%=item.post_no %>'><%= item.post_title %></a></h2>
                     
                     <p class='postContent'><a href='/posts/<%=item.post_no %>'><%= item.post_content %></a></p>
                     <div>
                     <span><%= item.created_at %> | view <%= item.post_count %> </span>
                     </div>
                     
                </div>
            <% }) %>

            <div class='paging'> </div>

            </section>
        </article>

        <aside>
            사이드바 예정
        <aside>
    </div>
    
    <% include ../partials/footer.ejs %>
    
</body>

</html>